@model IEnumerable<CLDV6211.POE.Models.ReturnCar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElapsedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspectors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drivers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElapsedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cars.CarNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inspectors.InspectorNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drivers.DriverNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReturnCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReturnCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReturnCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
