@model IEnumerable<CLDV6211.POE.Models.Rental>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspectors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drivers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cars.CarNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inspectors.InspectorNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drivers.DriverNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentalCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentalCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentalCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
