@model CLDV6211.POE.Models.Driver

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrMobile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DriverNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
